@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

body {
    background-color: #2bf18e;
    /* distanciamento, impedindo que o container encoste na lateral */
    padding: 1rem;
    
    
}

.container {
    border: 1px solid rgb(178, 178, 216);
    width: 100%;
    max-width: 588px;
    background-color: rgb(245, 245, 245);
    margin: 10rem auto 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    
    /* impede que o conteudo saia do conteiner */
    overflow: hidden;
    /* Ajuste automaticamente a altura 
    do container com base no conteúdo que
     estiver dentro dele, se o conteudo cresce a altura crece
     */
    height: auto;
    /* espaçamento do conteudo e a borda do container */
    padding: 1rem;
    
}



h1 {
    
    padding: 3px;
    color: 	#141616;
    
    
}

h2 {
    
    padding: 3px;
    

    
}

button {
    
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: #09944e;
    color: white;
    width: 100%;
    max-width: 288px;
    margin: 0 auto 0;
    border-radius: 8px;
    
    
    
}