@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

body {
    background-color: #03ff81;
    
}

.container {
    border: 1px solid rgb(178, 178, 216);
    width: 100%;
    max-width: 788px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    height: 17rem;
    margin: 13rem auto 0px;
    border-radius: 10px;
    
}

.agrupamento {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   
    height: 13rem;
    
}

h1 {
    
    padding: 3px;
    color: 	#141616;
    
}

h2 {
    
    padding: 3px;
    color: 	#303d3d;

    
}

button {
    
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: #09944e;
    color: white;
    width: 18rem;
    margin: 0 auto 0;
}