@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}

body {
    background-color: #2bf18e;
    /* distanciamento, impedindo que o container encoste na lateral */
    padding: 1rem;
    
}

.container {
    border: 1px solid rgb(178, 178, 216);
    width: 100%;
    max-width: 588px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    height: 20rem;
    margin: 13rem auto 0px;
    border-radius: 10px;
    
}

.agrupamento {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    height: 14rem;
    border: 1px solid ;
    margin-left: 8px;
    margin-right: 8px;
    
}

h1 {
    
    padding: 3px;
    color: 	#141616;
    
}

h2 {
    
    padding: 3px;
    color: 	#4f5555;

    
}

button {
    
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: #09944e;
    color: white;
    width: 18rem;
    margin: 0 auto 0;
    border-radius: 8px;
}